/*  --  */

body, button {
  font-family       : sans-serif;
}

#page {
  text-align        : center;
}

button {
  font-size         : 150%;
}

button, .info {
  background-color  : #0C9DC2;
  color             : white;
}

.info {
  margin            : 0 auto;
  width             : 50%;
}

#gallows {
  border            : 1px solid grey;
}

.lost {
  background-color  : red;
}

.won {
  background-color  : green;
}

/*  --  */
